---
import Layout from "@/layouts/Layout.astro"
import slightSmileFace from "../assets/slight_smile_face.svg"
---

<Layout>
  <div class="h-[100vh] flex flex-col items-center justify-center overflow-hidden">
    <div class='size-[512px] md:size-[820px] lg:size-[80vw] aspect-square rounded-full bg-app-yellow flex flex-col items-center justify-center pb-12'>
      <img
        src={slightSmileFace.src}
        alt='slight smile'
        class='size-32 md:size-48'
      />
      <div class="flex flex-col items-center mb-12 md:mb-16 text-black">
        <h1 class="mb-4 text-[2rem] md:text-[4rem]">slight_smile</h1>
        <h2 class="text-[0.75rem] md:text-[1.5rem]">ctf team based in singapore</h2>
      </div>
      <div class='flex flex-col items-center text-black'>
        <div class='flex flex-col md:flex-row gap-3 md:gap-x-10'>
          <a href="/members" class="flex items-center justify-center h-[2.8rem] md:h-[4.5rem] px-4 md:px-8 bg-black rounded-[1.75rem] transition transform duration-300 ease-in-out hover:bg-yellow-800 hover:scale-105">
            <span class="text-app-yellow text-md md:text-2xl">
              Members
            </span>
          </a>
          <a href="/writeups" class="flex items-center justify-center h-[2.8rem] md:h-[4.5rem] px-4 md:px-8 bg-black rounded-[1.75rem]  transition transform duration-300 ease-in-out hover:bg-yellow-800 hover:scale-105">
            <span class="text-app-yellow text-md md:text-2xl">
              CTF writeups
            </span>
          </a>
          <a href="/blog" class="flex items-center justify-center h-[2.8rem] md:h-[4.5rem] px-4 md:px-8 bg-black rounded-[1.75rem]  transition transform duration-300 ease-in-out hover:bg-yellow-800 hover:scale-105">
            <span class="text-app-yellow text-md md:text-2xl">
              Blog
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
