@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Itim', cursive;
  --black: #06070a;
  --app-yellow: #FFC01D;
  --app-purple: #7231FF;
  --app-gray: #1C1C1C;
}

*::-webkit-scrollbar {
    display: block;
    /* width: 6px; */
    /* height: 6px; */
    transition: all 0.2s ease;
    background: rgb(0 0 0 / 0%);
}

*::-webkit-scrollbar-thumb {
    background: rgb(75 75 75);
    border-radius: 18px;
    background-clip: content-box;
    border: 3px solid transparent;
}

*::-webkit-scrollbar-track {
    background: var(--primary-bg);
    border: 1px solid rgb(0 0 0 / 0%);
}

*::-webkit-scrollbar-thumb-hover {
    background: #a1a1a1;
    border-radius: 18px;
    background-clip: content-box;
    border: 3px solid transparent;
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  color: #ffffff;
  background-color: #06070a;
}

h1 {
  font-family: 'Silkscreen', sans-serif;
  font-size: 3.5rem;
  margin-top: 20px;
}

h2 {
  font-family: 'Silkscreen', sans-serif;
  font-size: 1.5rem;
  opacity: 0.4;
}

.navbar-link {
    display: flex;
    flex-direction: column;
    color: black;
}

.navbar-link:hover {
    text-decoration: none;
}

.navbar-link::after {
    content: "";
    border-bottom: 3px solid black;
    width: 0;
    transition: width 0.1s ease-out;
}

.navbar-link:hover::after, .active::after {
    width: 100%;
}

.hidden-parent .hidden-child {
    visibility: hidden;
}

.hidden-parent:hover .hidden-child {
    visibility: visible;
}

.markdown-body {
    z-index: 1;
    font-size: 1.2rem;

    p {
        margin: 0.5rem 0rem;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Silkscreen', sans-serif;
      font-size: 3rem;
      opacity: 1;
      scroll-margin-top: 100px; /* height of your fixed header */
    }

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2.0rem;
    }

    h3 {
      font-size: 1.8rem;
    }

    h4 {
      font-size: 1.6rem;
    }

    h5 {
      font-size: 1.4rem;
    }

    h6 {
      font-size: 1.3rem;
    }

    a {
        @apply text-app-yellow
    }

    a:hover {
        text-decoration: underline;
    }

    /* https://css-shape.com/wavy-line/ */
    hr {
        --s: 3px; /* size of the wave */
        --b: 2px; /* thickness of the line */
        --m: 0.4; /* curvature of the wave [0 2] */

        background: white;
        opacity: 0.4;
        --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
        height: calc(2*var(--R));
        width: 100%;
        --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
        mask:
            radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) 
             calc(50% - 2*var(--s)) calc(50% - var(--s)/2 - var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x,
            radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)),var(--_g)) 
             50% calc(50% + var(--s)/2 + var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x;

        margin: 1rem 0;
    }

    figure {
        width: 100%;
        margin: 8px 0px;
    }

    figure img {
        width: 70%;
        margin: auto;
        padding: 1rem 0;
    }

    figure figcaption {
        font-size: 0.9rem;
        font-style: italic;
        margin: auto;
        text-align: center;
    }

    pre {
        overflow-x: auto;
        margin: 12px 0px;
    }

    pre {
        padding: 4px 8px;
        border-radius: 8px;
    }

    code, pre span {
        font-family: 'Cascadia Code', monospace;
        font-size: 0.9em;
    }

    code {
        padding: 2px 4px;
        border-radius: 1px;
    }

    span[data-rehype-pretty-code-figure] {
        overflow-wrap: break-word;
    }

    blockquote {
        box-sizing: border-box;
        margin: 20px 0;
        padding: 1rem;
        background: rgb(31, 31, 40);
        border-radius: 0 8px 8px 0;
        border-left: 4px solid var(--app-yellow);
    }

    mjx-container {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .katex {
        text-align: center;
        margin: auto;
        font-size: 1.4rem;
    }

    .katex-html {
        display: none;
    }

    /* TODO: style tables */
}

/* https://css-shape.com/wavy-line/ */
.wavy-line {
    --s: 3px; /* size of the wave */
    --b: 2px; /* thickness of the line */
    --m: 0.4; /* curvature of the wave [0 2] */

    background: white;
    opacity: 0.4;
    --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
    height: calc(2*var(--R));
    width: 100%;
    --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
    mask:
        radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) 
         calc(50% - 2*var(--s)) calc(50% - var(--s)/2 - var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x,
        radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)),var(--_g)) 
         50% calc(50% + var(--s)/2 + var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x;
}
