* {
  font-family: 'Itim', cursive;
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  color: #ffffff;
  background-color: #06070a;
}

h1 {
  font-family: 'Silkscreen', sans-serif;
  font-size: 3.5rem;
}

h2 {
  font-family: 'Silkscreen', sans-serif;
  font-size: 1.5rem;
  opacity: 0.4;
}

.navbar-link {
    display: flex;
    flex-direction: column;
}

.navbar-link::after {
    content: "";
    border-bottom: 3px solid black;
    width: 0;
    transition: width 0.1s ease-out;
}

.navbar-link:hover::after, .active::after {
    width: 100%;
}

.hidden-parent .hidden-child {
    visibility: hidden;
}

.hidden-parent:hover .hidden-child {
    visibility: visible;
}

.markdown-content {
    z-index: 1;
}
