---
import './src/assets/global.css';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Itim&family=Silkscreen:wght@400;700&display=swap'
      rel='stylesheet'
    />

    <link rel="preload" href="/css/fontawesome/fontawesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/fontawesome/fontawesome.min.css"></noscript>
    <link rel="preload" href="/css/fontawesome/regular.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/fontawesome/regular.min.css"></noscript>
    <link rel="preload" href="/css/fontawesome/brands.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/fontawesome/brands.min.css"></noscript>

    <meta name='generator' content={Astro.generator} />
    <title>slight_smile</title>
  </head>
  <body>
    <slot />
  </body>
</html>
